# Backupfiles from mergetools #
*.orig
# Java Class Files #
*.class
# Package Files #
*.jar
*.war
*.ear
*.zip
# Eclipse #
/.project
/.settings
bin/**
# Maven #
target/
/.mvn
/.maven
/.repository
.flattened-pom.xml
.classpath
.factorypath
/.attach_pid108897
/.attach_pid145394
/hs_err_pid151898.log
